@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  columns: 2;
}

.dev-icons-one-line {
  columns: 1;
}

.dev-icons-one-line > img {
  width: 25%;
  height: 10%;
  max-height: 3.125rem;
}

.skill-row {
  columns: 2;
  display: flex;
  justify-content: space-around;
}

.dev-icons-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.dev-icons-one-line-div {
  flex: 1; /* Flex grow to fill the space */
}

// .dev-icons-one-line-div > li {
//   display: flex;
//   flex-direction: column;
// }

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 15%;
}

.software-skill-inline > img {
  width: 50%;
  height: 10%;
  max-height: 3.125rem;
}

.software-skill-inline-one > img {
  min-width: 46px;
  width: 25%;
  min-height: 50px;
  height: 10%;
  max-height: 3.125rem;
}

.software-skill-inline-one > p {
  color:  white !important;
  font-size: 15px;
}

// .software-skill-inline > i {
//   color: $subTitle;
// }

// .software-skill-inline > i:hover {
//   color: $skillsColor;
// }
.software-skill-inline > p {
  color:  white !important;
  font-size: 15px;
}

.software-skill-inline > i:hover ~ p {
  color: $skillsColor;
}
